<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style3.css">
    <title>Document</title>
</head>
<body>

    <nav>
        <div class="logo">FaultMaster</div>
        <ul>
            <li><a href="/index.html">Home</a></li>
            <li>
                <a href="#">Detects</a>
                <ul>
                    <li><a href="/Components/Hex_Nuts.html">Hex-Nuts</a></li>
                    <li><a href="/Components/Clutches.html">Clutches</a></li>
                    <li><a href="/Components/Rod-Ends.html">Rode Ends</a></li>
                    <li><a href="/Components/Washers.html">Washers</a></li>
                    <li><a href="/Components/Shafts.html">Shaft</a></li>
                </ul>
            </li>

            <li>
                <a href="#">About</a>
                <ul>
                    <li><a href="/Pages/about-us.html">About Us</a></li>
                    <li><a href="/Pages/about.html">About the App</a></li>
                </ul>
            </li>

            <li>
                <a href="#">Contact</a>
                <ul>
                    <li><a href="/Pages/contact.html">Contact</a></li>
                </ul>
            </li>

            <li><a href="/index-Login.html">Logout</a></li>
        </ul>
    </nav>
    <div class="heading">
        <h1>Hex_Nuts</h1>
            <p> Hex nuts, also known simply as hexagonal nuts or hexagon nuts, 
                are a common type of fastener used to secure two or more objects together by creating a threaded connection with a bolt or threaded rod.
                </p>

            </div>
    
            <div class="container">
                <section class="about">
                    <div class="about-image">
                        <img src="/Components/img/Hex-Nut.png">
            </div>
            <div class="about-content">
                <h2>More about Hex_Nuts</h2>
                    <p>  These nuts have a distinctive hexagonal shape, which provides several advantages, 
                        including ease of tightening and loosening with standard wrenches or pliers. Hex nuts have internal threads that match the threads on the corresponding bolt or threaded rod.
                         These threads come in various standardized sizes and pitches to accommodate different applications and types of bolts.
                        Hex nuts are typically six-sided,
                         which makes them easy to grip and turn with common hand tools like wrenches and socket sets. This shape allows for better torque application,
                         ensuring a secure and tight connection. </p>
                <a href="" class="read-more">Read More</a>
            </div>
    
                </section>
            </div>
    
</body>
</html>