<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style3.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <div class="logo">Mechanical Fault Detactor</div>
        <ul>
            <li><a href="/index.html">Home</a></li>
            <li>
                <a href="#">Detects</a>
                <ul>
                    <li><a href="/Components/Hex_Nuts.html">Hex-Nuts</a></li>
                    <li><a href="/Components/Clutches.html">Clutches</a></li>
                    <li><a href="/Components/Rod-Ends.html">Rod-Ends</a></li>
                    <li><a href="/Components/Washers.html">Washers</a></li>
                    <li><a href="/Components/Shafts.html">Shaft</a></li>
                </ul>
            </li>

            <li>
                <a href="#">About</a>
                <ul>
                    <li><a href="/Pages/about-us.html">About Us</a></li>
                    <li><a href="/Pages/about.html">About the App</a></li>
                </ul>
            </li>

            <li>
                <a href="#">Contact</a>
                <ul>
                    <li><a href="/Pages/contact.html">Contact</a></li>
                </ul>
            </li>

            <li><a href="/index-Login.html">Logout</a></li>
        </ul>
    </nav>
    <div class="heading">
        <h1>Rod-Ends</h1>
            <p> A rod-end, also known as a rod bearing or heim joint, is a crucial component in various mechanical and industrial applications.
                 It serves as a pivotal connection point between a rod and its external mechanism,
                 allowing for controlled motion and transfer of forces.</p>
            </div>
    
            <div class="container">
                <section class="about">
                    <div class="about-image">
                    <img scr="/Components/img/Clutch.png">
            </div>
            <div class="about-content">
                <h2>More about Rod-Ends</h2>
                    <p> Rod-ends are typically constructed from high-quality materials like steel, stainless steel, or other alloys,
                         ensuring durability and resistance to wear and tear. One end of the rod-end is equipped with threads, facilitating easy attachment to the rod, while the other end consists of a spherical ball joint or bearing, enabling swivel movement and articulation.
                          This design permits the rod to move in multiple directions, accommodating angular misalignment and oscillatory motion. Rod-ends find extensive use in applications such as automotive suspension systems,
                           aircraft controls, industrial machinery, and robotics, where precise and reliable articulation is essential. They play a vital role in enhancing the overall efficiency, safety,
                         and performance of these systems, making them indispensable in various engineering disciplines.</p>
                <a href="" class="read-more">Read More</a>
            </div>
    
                </section>
            </div>
</body>
</html>