<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style3.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <div class="logo">FaultMaster</div>
        <ul>
            <li><a href="/index.html">Home</a></li>
            <li>
                <a href="#">Detects</a>
                <ul>
                    <li><a href="/Components/Hex_Nuts.html">Hex-Nuts</a></li>
                    <li><a href="/Components/Clutches.html">Washers</a></li>
                    <li><a href="/Components/Rod-Ends.html">Clutches</a></li>
                    <li><a href="/Components/Washers.html">Rode Ends</a></li>
                    <li><a href="/Components/Shafts.html">Shaft</a></li>
                </ul>
            </li>

            <li>
                <a href="#">About</a>
                <ul>
                    <li><a href="/Pages/about-us.html">About Us</a></li>
                    <li><a href="/Pages/about.html">About the App</a></li>
                </ul>
            </li>

            <li>
                <a href="#">Contact</a>
                <ul>
                    <li><a href="/Pages/contact.html">Contact</a></li>
                </ul>
            </li>
            <li><a href="/index-Login.html">Logout</a></li>
            
        </ul>
    </nav>
    <div class="heading">
        <h1>Washers</h1>
            <p> Everbilt, a trusted brand in the hardware and fastening industry, offers a diverse range of mechanical components, including flat washers. These flat washers serve a crucial role in numerous applications by evenly distributing the load of threaded fasteners like bolts and nuts, safeguarding the material being fastened and enhancing the stability of the connection.</p>
            </div>
    
            <div class="container">
                <section class="about">
                    <div class="about-image">
                    <img src="/Components/img/washer.png">
                   
            </div>
            <div class="about-content">
                <h2>More about Washers</h2>
                    <p> Everbilt, a trusted brand in the hardware and fastening industry, offers a diverse range of mechanical components, including flat washers. These flat washers serve a crucial role in numerous applications by evenly distributing the load of threaded fasteners like bolts and nuts, safeguarding the material being fastened and enhancing the stability of the connection.</p>
                <a href="" class="read-more">Read More</a>
            </div>
    
                </section>
            </div>
</body>
</html>